.todo-list {
  width: 100%;
  margin: 30px 0;
}

.todo-item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #4857b7;
  border-radius: 10px;
  font-family: sans-serif;
}

.todo-item * {
  cursor: pointer;
}

.todo-item_left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.todo-item_checkbox {
  width: 20px;
  height: 20px;

  background-color: rgba(62, 62, 62, 0.751);
  border-radius: 9999px;
}
.activate_checkbox {
  background-color: rgb(214, 191, 63);
}

.todo-item_text {
  font-size: 20px;
  font-weight: 600;
}
.activate_text {
  text-decoration: line-through;
}

.todo-item_right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.todo-item_remove {
  padding: 1px 10px 6px;
  border-radius: 4px;
  background-color: rgba(255, 0, 0, 0.783);
  font-size: 30px;
  transition: 0.4s;
}

.todo-item_remove:hover {
  background-color: rgb(159, 4, 4);
}

.todo-item_date {
  position: absolute;
  bottom: 7px;
  left: 50px;

  color: rgba(171, 151, 64, 0.658);
  font-size: 13px;
  font-weight: bold;
  cursor: default;
}

.select_todo {
  margin-top: 30px;
}

.todo-item_vision {
  width: 35px;
  height: 35px;
}

.todo-select_back {
  position: absolute;
  left: 95px;

  padding: 9px 10px 5px;
  background-color: rgba(255, 0, 0, 0.783);
  max-width: max-content;
  border-radius: 30px;
  cursor: pointer;
}

.add-todo {
  position: fixed;
  bottom: 20px;
  right: 20px;

  padding: 0px 13px;

  background-color: rgba(70, 136, 198, 0.815);
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  border-radius: 1000px;
  border: 2px solid #fff;
  cursor: pointer;
}

.add-todo:hover {
  background-color: rgba(13, 55, 95, 0.815);
}

.form-todo {
  width: 480px;
}

.input-todo {
  width: 90%;
  display: block;
  padding: 2px 10px;

  font-size: 25px;
  margin: 10px 0 15px;
  border-radius: 5px;
  border: 1px #000 solid;
  outline: none;
}

.btn-todo {
  border: none;
  border-radius: 5px;
  padding: 5px 20px;

  font-size: 20px;
  color: #fff;
  background-color: #4857b7;
}

.btn-todo:hover {
  cursor: pointer;
  background-color: #293165;
}